body {
  background-color: aquamarine;
}

/* media query by using combine for minimum and maximum */

@media screen and (min-width: 319px) and (max-width: 480px) {
  body {
    background-color: lightsalmon;
  }
}

/* media query by using combine for minimum and maximum */

@media screen and (min-width: 481px) and (max-width: 1200px) {
  body {
    background-color: blue;
  }
}

/* media query by using combine for minimum and maximum */
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  body {
    background-color: limegreen;
  }
}

/* media query for large screens */
@media (min-width: 1601px) {
  body {
    background-color: seagreen;
  }
}
